@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope';
}

/* NAVBAR */
header {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 7px 0;
}

#logo {
    width: 200px;
    cursor: pointer;
    padding-top: 5px;
    margin-left: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
}

a {
    text-align: none;
    color: black;
    text-decoration: none;
}

ul a:hover {
    position: relative;
    top: -5px;
    color: grey;
}

#menu {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* BODY */
#body {
    background-color: #dce7ec;
    height: 550px;
    border-radius: 20px;
    margin-top: 45px;
    margin-right: 30px;
    margin-left: 30px;
}

.bodypic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#pic1 {
    width: 60%;
}

#pic2 {
    width: 30%;
}

/* MANGA FEATURE */
.manga {
    margin: 0 50px;
    text-align: left;
    font-size: 25px;
    margin-top: 100px;
    font-family: 'Manrope';
}

.manga > p {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.manga .maincontainer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.maincontainer .container {
    width: 200px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    transition: .2s;
    background-color: #4d4d4d;
}

.maincontainer .container:hover {
    transition: .2s;
    position: relative;
    top: -14px;
    transform: scale(1.1);
}

.container > a > img {
    width: 200px;
    height: 225px;
}

.description :first-child {
    margin-top: 10px;
    margin-bottom: 18px;
    font-weight: bold;
    font-family: 'Manrope';
}

.description p, span {
    font-size: 25px;
    font-family: 'Manrope';
    color: black;
}

.description span {
    color: yellow;
}

/* BANNER SECTION */
.banner img {
    margin-top: 75px;
    width: 100%;
    cursor: pointer;
    opacity: .8;
    transition: .2s;
}

.banner img:hover {
    opacity: .990;
    transform: scale(.990);
    transition: .2s;
}

/* NOVEL FEATURE */
.novel {
    margin: 0 50px;
    text-align: left;
    font-size: 25px;
    margin-top: 75px;
}

.novel > p {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.novel .maincontainer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* FOOTER */
.footer {
    background-color: rgb(205, 205, 205);
    height: 125px;
    margin-top: 50px;
}

.footer img {
    width: 225px;
}

.footer p {
    font-size: 13px;
}

.social {
    text-align: center;
}

.social a img {
    width: 40px;
    margin: 0 5px;
}

.social p {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footerimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footercol {
    text-align: center;
}

#flogo:hover {
    transform: scale(1.2);
}
    
@media (max-width: 799px) {

    /* NAVBAR */
    #logo {
        width: 180px;
        padding: 5px;
        margin-left: 20px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 300px;
        position: fixed;
        background-color: #eaeff1;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.5);
        padding: 80px 0 0 10px;
        transition: .4s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #menu {
        display: flex;
        align-items: center;
    }

    #menu img {
        width: 25px;
        margin-right: 25px;
    }

    #close {
        display: flex;
        position: absolute;
        top: 25px;
        left: 25px;
    }

    #close img {
        width: 35px;
    }

    /* BODY */
    #body {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
    }

    .bodypic {
        height: 350px;
    }
    
    #pic1 {
        width: 60%;
    }
    
    #pic2 {
        width: 30%;
    }

    /* MANGA */
    .manga {
        margin: 0 25px;
        text-align: left;
        font-size: 25px;
        margin-top: 50px;
    }

    .manga > p {
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    /* BANNER */
    .banner img {
        margin-top: 50px;
        width: 100%;
        opacity: .8;
        transition: .2s;
    }

    /* NOVEL */
    .novel {
        margin: 0 25px;
        text-align: left;
        font-size: 25px;
        margin-top: 45px;
    }

    .novel > p {
        font-size: 23px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    /* FOOTER */
    .footer {
        background-color: rgb(205, 205, 205);
        height: 125px;
        margin-top: 25px;
    }
}

@media (max-width: 554px) {
    /* BODY */
    #body {
        display: flex;
        max-width: 100%;
        height: 100%;
        margin: 45px 13px 0 13px;
    }

    .bodypic {
        flex-direction: column;
        height: 395px;
        width: 100%;
    }

    #pic1 {
        width: 100%;
        padding-bottom: 20px;
    }
    
    #pic2 {
        width: 50%;
    }

    /* MANGA */
    .manga {
        margin: 0 25px;
        text-align: left;
        font-size: 18px;
        margin-top: 50px;
    }

    .manga p {
        font-size: 23px;
    }

    /* CONTAINER */
    .manga .maincontainer {
        padding: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .maincontainer .container {
        width: 150px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        opacity: .750;
        transition: .2s;
    }

    .container > a > img {
        width: 150px;
        height: 150px;
    }

    .description :first-child {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    .description > span {
        font-size: 20px;
    }

    /* BANNER */
    .banner img {
        margin-top: 50px;
        opacity: 1;
        transition: .2s;
        width: 100%;
    }

    #banner {
        margin-left: -105px;
    }

    .banner img:hover {
        opacity: .990;
        transform: scale(1);
        transition: .2s;
    }

    /* NOVEL */
    .novel {
        text-align: left;
        font-size: 25px;
    }

    .novel .maincontainer {
        padding: 5px;
    }

    /* FOOTER */
    .footer {
        background-color: rgb(205, 205, 205);
        height: 125px;
        margin-top: 25px;
    }

    .footercol img {
        width: 180px;
        text-align: center;
    }

    .social p {
        font-size: 20.5px;
    }

    .social a img {
        width: 32px;
    }
}

@media (max-width: 443px) {
    /* CONTAINER */
    .manga .maincontainer {
        padding: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .maincontainer .container {
        max-width: 140px;
        margin: 5px;
        padding: 10px;
        border: 1px solid black;
        opacity: .750;
        transition: .2s;
    }

    .container > a > img {
        width: 140px;
        height: 120px;
    }

    .description :first-child {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 17px;
    }

    .description > span {
        font-size: 19px;
    }

    /* FOOTER */
    .footer {
        background-color: rgb(205, 205, 205);
        height: 125px;
        margin-top: 25px;
    }

    .footercol img {
        width: 150px;
    }

    .footercol {
        text-align: center;
    }

    .social p {
        font-size: 18px;
    }

    .social a img {
        width: 30px;
    }
}

@media (max-width: 414px) {
    /* CONTAINER */
    .manga .maincontainer {
        padding: 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .maincontainer .container {
        max-width: 120px;
        padding: 10px;
        border: 1px solid black;
        opacity: .750;
        transition: .2s;
    }

    .container > a > img {
        width: 120px;
        height: 120px;
    }

    .description :first-child {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 17px;
    }

    .description > span {
        font-size: 17px;
    }

    /* BANNER */
    .banner img {
        margin-top: 50px;
        opacity: 1;
        transition: .2s;
        width: 100%;
    }

    #banner {
        margin-left: -90px;
    }

    /* NOVEL */
    .novel {
        text-align: left;
        font-size: 25px;
    }

    .novel .maincontainer {
        padding: 0;
    }
}

@media (max-width: 401px) {
    /* FOOTER */
    .footer {
        background-color: rgb(205, 205, 205);
        height: 230px;
        margin-top: 25px;
    }

    .footercol img {
        width: 200px;
    }

    .social p {
        font-size: 20px;
    }

    .social a img {
        width: 30px;
    }
}
