@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Manrope';
    background-image: url(/pic/panel3.jpg);
    background-attachment: fixed;
}

/* top menu bar */
header {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0 0 0 0;
    box-shadow: 0 0 7px 0;
}

#logo {
    width: 200px;
    cursor: pointer;
    padding-top: 5px;
    margin-left: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

a {
    text-align: none;
    color: black;
    text-decoration: none;
}

ul a:hover {
    position: relative;
    top: -5px;
    color: grey;
}

#menu {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* CATEGORIES */
#categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 11%;
}

#categories ul li {
    display: inline-block;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

#categories ul {
    left: 100px;
    padding: 0;
}

.incategories {
    display: flex;
    margin-right: 11%;
}

#categories ul li.active {
    color: #faed27;
    font-weight: bold;
}

#categories ul li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/*main area*/
h3 {
    text-align: center;
    color: green;
}

h1 {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 50px;
    font-weight: bold;
}

#container {
    max-width: 80%;
    min-height: 2000px;
    border: 1px solid white;
    margin: 0 auto;
    overflow-y: hidden;
    background-color: white;
}

#compiler {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    padding: 5px;
}

.item {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    max-width: 180px;
    margin: auto;
    text-align: left;
    border: 1px solid black;
    padding: 10px 10px 0 10px;
    margin-top: 35px;
    height: 335px;
}

.item.show {
    animation: fadeIn .5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.item.hide {
    display: none;
}

.item img {
    width: 180px;
    height: 185px;
}

.description {
    height: 25%;
}

.price {
    color: black;
    padding-top: 10px;
    font-size: 22px;
}

.item:hover {
    position: relative;
    top: -14px;
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    #categories {
        margin-left: 1%;
    }

    .incategories {
        margin-right: 2.5%;
    }

    #container {
        max-width: 95%;
    }

    #categories ul {
        padding-left: 3%;
        margin-left: 0;
    }

    input {
        right: 2.4vw;
        width: 20vw;
        height: 2.5vw;
    }
}

@media (max-width: 920px) {
    .item {
        width: 200px;
    }
}

@media (max-width: 799px) {

    /* NAVBAR */
    #logo {
        width: 180px;
        padding: 5px;
        margin-left: 20px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 300px;
        position: fixed;
        background-color: #eaeff1;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.5);
        padding: 80px 0 0 10px;
        transition: .4s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #menu {
        display: flex;
        align-items: center;
    }

    #menu img {
        width: 25px;
        margin-right: 25px;
    }

    #close {
        display: flex;
        position: absolute;
        top: 25px;
        left: 25px;
    }

    #close img {
        width: 35px;
    }

    #container {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .item {
        height: 350px;
    }

    .item img {
        width: 180px;
        height: 210px;
    }

    #categories ul {
        padding: 0;
    }

    input {
        margin-left: 2%;
        width: 200px;
        height: 3vw;
    }
}

@media (max-width: 439px) {
    .item {
        width: 100px;
    }

    .item {
        height: 240px;
    }

    .item img {
        width: 100px;
        height: 100px;
    }

    .item .description {
        font-size: 12px;
    }

    .item .price {
        font-size: 13px;
    }
}

@media (max-width: 429px) {
    .description {
        height: 40%;
    }

    .item .price {
        font-size: 15px;
    }
    
    input {
        margin-top: 20px;
        right: 3vw;
        width: 200px;
        height: 6vw;
        margin-left: 5px;
    }
}

@media (max-width: 400px) {
    .item {
        width: 120px;
        height: 250px;
    }
    
    .description {
        height: 33%;
    }

    .item img {
        width: 120px;
        height: 120px;
    }
}
