#body {
    background-color: #dce7ec;
    border-radius: 20px;
    margin: 5vw 3vw 8vw 3vw;
}

.bodypic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

#pic1 {
    width: 60vw;
}

#pic2 {
    width: 30%;
}

@media (max-width: 799px) {
    #body {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        margin: 8vw 2vw 8vw 2vw;
    }

    .bodypic {
        height: 350px;
    }
    
    #pic1 {
        width: 70%;
    }
    
    #pic2 {
        width: 30%;
    }

    .incategories > input {
        display: none;
    }
}

@media (max-width: 430px) {
    /* BODY */
    #body {
        display: flex;
        max-width: 100%;
        height: 100%;
        margin: 45px 13px 0 13px;
    }

    .bodypic {
        flex-direction: column;
        height: 395px;
        width: 100%;
    }

    #pic1 {
        width: 100%;
        padding-bottom: 20px;
    }
    
    #pic2 {
        width: 50%;
    }
}

