.manga {
    margin: 100px 50px 100px 50px;
    text-align: left;
    font-size: 25px;
}

.featuredtitle {
    display: flex;
    justify-content: space-between;
}

.featuredtitle > button {
    cursor: pointer;
    padding: .5vw;
    font-size: 1.2vw;
    width: 10vw;
    height: 3.5vw;
    border-radius: 50px;
    border: 5px solid;
    background-color: white;
}

h2 {
    font-size: 3vw;
    margin-bottom: 2vw;
}

.manga .maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 35vw;
}

.maincontainer .container {
    width: 15vw;
    height: 30vw;
    cursor: pointer;
    transition: .2s;
    padding: 10px;
}

.maincontainer .container:hover {
    transition: .2s;
    top: -14px;
    transform: scale(1.1);
    background-color: #dce7ec;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.container > a > img {
    width: 15vw;
    height: 16vw;
}

/* GOLBAL PRODUCT DESCRIPTION */
.description {
    font-size: 1.5vw;
    height: 32%;
}

.price {
    color: black;
    padding-top: 10px;
    font-size: 1.5vw;
}
/* END OF GOLBAL PRODUCT DESCRIPTION */

@media (max-width: 799px) {
    .manga {
        margin: 100px 25px;
        font-size: 25px;
    }

    .featuredtitle > button {
        border: 3px solid;
    }

    .maincontainer .container {
        width: 16vw;
        height: 38vw;
    }

    .container > a > img {
        width: 16vw;
        height: 20vw;
    }

    .description {
        font-size: 1.9vw;
        height: 32%;
    }

    .price {
        color: black;
        padding-top: 10px;
        font-size: 1.7vw;
    }
}

@media (max-width: 430px) {
    .manga .maincontainer {
        height: 200vw;
        padding: 0 2vw 0 2vw;
    }

    h2 {
        font-size: 6vw;
    }

    .maincontainer .container {
        width: 30vw;
        height: 58vw;
    }

    .container > a > img {
        width: 30vw;
        height: 35vw;
    }

    .featuredtitle > button {
        font-size: 2.7vw;
        width: 20vw;
        height: 5vw;
        border: 2px solid;
    }

    /* GOLBAL PRODUCT DESCRIPTION */
    .description {
        font-size: 3vw;
        height: 30%;
    }

    .price {
        color: black;
        padding-top: 10px;
        font-size: 3vw;
    }
    /* END OF GOLBAL PRODUCT DESCRIPTION */
}

