@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

:root {
    --white: #fff;
    --gray: #eaeff1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope';
}

ul li {
    display: inline-block;
    padding: 0 1.5vw;
    font-size: 1.5vw;
}

a {
    text-align: none;
    color: black;
    text-decoration: none;
}

li a:hover {
    position: relative;
    top: -5px;
    color: grey;
}